@import "/src/styles.scss";
.featureContainer{
    position: relative;
    .openAccDes{
        font-size: 18px;
        font-family: mont-regular;
    }

    .solwave-back-img{
        width: 100%;
        position: absolute;
        bottom: -14%;
        right: 0;
        left: 0;
        z-index: -1;
    }
}