<div class="p-5 featureContainer">

    <div class="row">
        <div class="col-md-8 col-lg-6 p-0 row mx-auto">
            <div class="col-md-6 featureItem my-auto">
                <app-feature-card [data]="features[0]"></app-feature-card>
                <app-feature-card [data]="features[1]"></app-feature-card>
                <app-feature-card [data]="features[2]"></app-feature-card>
            </div>
            <div class="col-md-6  featureItem my-auto">
                <app-feature-card [data]="features[3]"></app-feature-card>
                <app-feature-card [data]="features[4]"></app-feature-card>

            </div>
        </div>
        <div class="col-md-4 col-lg-6 my-auto featuredescription">
            <h1>
                Boost your business with Open

                <hr class="spliter">
            </h1>
            <p class="my-3 text-muted openAccDes">Get your hands on a term loan that’s crafted for your business</p>
            <button class="btn btn-outline-cprimary rounded-pill mt-5">Get an Opening Account</button>

        </div>
    </div>
    <img class="solwave-back-img" src="/assets/img/sol_wave_bg.svg" alt="">
</div>