<nav class="navbar smart-scroll navbar-expand-lg fixed-top p-0" [ngClass]="{'shrink': srink}">
    <div class="container p-0">

        <a class="navbar-brand p-0 ml-3" href="#">
            <img src="/assets/img/logo.png" class="d-inline-block align-top" alt="">

        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="main_nav"> -->
        <ul class="navbar-nav ml-auto d-none d-lg-flex">
            <li class="nav-item active"> <a class="nav-link" href="#">Product </a> </li>
            <li class="nav-item"><a class="nav-link" href="#"> Solution </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Pricing </a></li>
        </ul>
        <div class="nav-btn">

            <button class="btn btn-outline-cprimary rounded-pill">Login</button>
            <button class="btn btn-cprimary bg-cprimary-gradient rounded-pill border-0">Get started</button>
        </div>
        <!-- </div> -->
    </div>
</nav>