<div class="main-back">
    <div class="big-circle d-none d-lg-block">
        <img src="/assets/img/circle.svg" alt="">
    </div>
    <div class="small-circle">
        <img src="/assets/img/blob-small.svg" alt="">
    </div>
    <section class="eligibility px-5">

        <div class="row ">
            <div class="col-lg-6 big-header">
                <h1 class="ml-5">
                    We make it Super Simple

                    <hr class="spliter">
                </h1>
                <div class="eligibility-left">
                    <img class="main-img" src="/assets/img/collect_img-video.png" alt="">
                    <img class="dotted-img" src="/assets/img/accounting_dots.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 eligibility-calc row">
                <div class="card shadow-lg col p-0">
                    <div class="card-header text-center">
                        Eligibility Calculator
                    </div>
                    <div class="p-3 text-secondary pb-5">
                        <form [formGroup]="loanForm" class="borderBtmForm">
                            <div>

                                <p class="small text-dark">Monthly Income</p>
                                <h4 class="font-weight-bold">&#8377; {{loanForm.value.monthlyIncome}}</h4>
                                <div data-role="rangeslider">
                                    <input type="range" class="slider" formControlName="monthlyIncome" min="100000"
                                        max="300000">
                                </div>
                                <p class="small text-dark text-muted my-2"> &#8377; 100000
                                    <span class="float-right">&#8377; 300000</span>
                                </p>
                            </div>
                            <div>
                                <p class="small text-dark">Monthly Expense</p>
                                <h4 class="font-weight-bold">&#8377; {{loanForm.value.monthlyExpense}}</h4>
                                <input type="range" class="slider" formControlName="monthlyExpense" min="0"
                                    max="100000">
                            </div>
                            <div>

                                <p class="small text-dark mt-3">Repayment Teure</p>
                                <select formControlName="repaymentTanure" class="form-control">
                                    <option value="3">3 Months</option>
                                    <option value="6">6 Months</option>
                                    <option value="9">9 Months</option>
                                    <option value="12">12 Months</option>
                                </select>
                            </div>
                            <div class="custom-control custom-switch custom-control-right my-3">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                    formControlName="haveExistingLone">
                                <label class="custom-control-label w-100 text-dark small" for="customSwitch1">Do you
                                    have any existing
                                    loans?</label>
                            </div>
                            <div>
                                <p class="small text-dark">EMI of existing loan (optional)</p>
                                <input type="text" class="form-control" formControlName="existingLoanAmount"
                                    placeholder="&#8377; 15000">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="result d-flex">
                    <div class="m-auto text-white text-center">
                        <p class="m-0">Loan Amount</p>
                        <h5>&#8377; 15000</h5>
                        <p class="mb-0 mt-3">Loan Amount</p>
                        <h5>&#8377; 15000</h5>
                        <button class="btn btn-outline-cprimary rounded-pill bg-white mt-4">Get Money</button>
                    </div>
                </div>
                <img class="dotted-img" src="/assets/img/accounting_dots.svg" alt="">

            </div>
        </div>
    </section>
</div>
<app-boost-business></app-boost-business>