@import "/src/styles.scss";


.main-back{
    position: relative;
    padding-bottom: 53px;
    overflow: hidden;
    .big-circle{
        position: absolute;
        right: -200px;
            top: -340px;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -o-transform: scale(0.8);
        }
        .small-circle{
        position: absolute;
            left: -150px;
            top: 100px;
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
        }
    }
.big-header{ 
    padding-top: 100px;
    h1{
        font-size: 42px;
        width: 70%;
        margin: 5px 60px;
    }
}

// .eligibility>div{
//     padding-bottom: 50px;
//     overflow: hidden;
// }
.eligibility{
    // padding: 0 60px;
    .eligibility-left{
        position: relative;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        .main-img{
            width: 100%;
            margin-top: 80px;
        }
        .dotted-img{
            position: absolute;
            right: -100px;
            bottom: -34px;
            z-index: -1;
        }
    }
    .eligibility-calc{
        margin-top: 180px;
        .card{
            border-radius: 20px;
            overflow: hidden;
            .card-header{
                background-color: #F7FBFD;
                padding: 10px;
            }
        }
        .result{
            width: 30%;
            height: 350px;
            min-width: 150px;
            background-color:  map-get($theme-colors, cprimary);
            margin: auto;
            margin-left: 8px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: 'mont-regular';
            h5{
                font-weight: 900;
                font-family: 'mont-semibold';
            }
        
        }
        .dotted-img{
            position: absolute;
            right: -100px;
            bottom: -54px;
            z-index: -1;
        }
    }
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
    background: map-get($theme-colors, cprimary);
    box-shadow: 0px 0px 14px -5px #000000;
    -webkit-box-shadow: 0px 0px 14px -5px #000000; 
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  div.custom-control-right {
    padding-right: 40px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
div.custom-control-right .custom-control-label::after{
    right: -1.5rem;
    left: auto;
}
div.custom-control-right .custom-control-label::before {
    right: -2.35rem;
    left: auto;
    
}
.custom-control-input:checked ~ .custom-control-label::before {
    border: 0;
    background: map-get($theme-colors, cprimary)!important;

}
.borderBtmForm input:not([type='range']),.borderBtmForm select{
    border: 0;
    border-bottom: 1px solid map-get($theme-colors, cgreydark)!important;;
    border-radius: 0;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .main-img{
        padding-right: 120px;
    }
}
@media only screen and (max-width: 768px){
    .big-header {
        padding-left: 0;
        padding-right: 0;
        h1 {
        font-size: 30px;
    }}
    .eligibility{
        padding: 0;
     
        .eligibility-calc{
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 90px;
            
            .result{
                margin-left: 3px;
            }
            .dotted-img{
                left: 0;
                bottom: -40px;
            }
        }
    }
}
@media only screen and (width: 768px){
    .eligibility .eligibility-calc{
        padding-left: 50px;
        padding-right: 50px;
    }
}